@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,800i&amp;subset=latin-ext');

@font-face {
	font-family: 'Vixa Geometric Bold';
	src: url(./fonts/VixaGeometric-Bold.otf) format('opentype');
}

body {
	box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}