@import url('https://fonts.googleapis.com/css?family=Montserrat:700,700i&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i&display=swap&subset=latin-ext');

@font-face {
	font-family: 'Vishvaksara Geometric Bold';
	src: local('Vishvaksara Geometric Bold'), url(./fonts/VishvaksaraGeometric-Bold.otf) format('opentype');
}

body {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}